/*@font-face {
  font-family: 'MTS-Wide';
  src: url('../assets/fonts/-Regular.woff2') format('woff2'),
  url('../assets/fonts/-Regular.woff') format('woff'),
  url('../assets/fonts/-Regular.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}*/
