
:root {
  --bg: #01010E;
  --black: #01010E;
  --white: #EAFCFF;
  --purple: #471F53;
  --pink: #DE527F;
  --yellow: #E59036;
  --blue: #566DCA;
  --blue-light: #7B99EF;

  
  /* sizes */
  --vh: 100vh;
  --vw: 100vw;
  --sb: 0px; // scrollbar
  
  
  /* font */
  --font-text:  sans-serif;

  
  /* transitions */
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
}
