
:root {
  --bg: #000;
  --black: #000;
  --white: #FFFFFF;

  
  /* sizes */
  --vh: 100vh;
  --vw: 100vw;
  --sb: 0px; // scrollbar
  
  
  /* font */
  --font-text:  sans-serif;

  
  /* transitions */
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
}
