@import '@/styles/mixins';


.canvas {
  position: fixed;
  inset: 0;
  z-index: 1;
 // z-index: 3;
 // zoom: 0.8;
 // background: var(--purple);
  background:  url('/img/stars3.svg') center center repeat;
  background-size: 30vw;
}


.hero {
  position: fixed;
  inset: 0;
  z-index: 2;
  
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url('/img/bg.svg') center center repeat-x;
    background-size: 20vw 100vh;
    z-index: 1;
  }
}


.swiper {
  width: 100%;
  height: 100%;
  opacity: .2;
  
  
  .slide {
    height: 100%;
    width: 100%;
    border: 6px solid magenta;
    display: flex;
    align-self: center;
    justify-content: center;
    
    &__1 {
      border-color: magenta;
    }
    &__2 {
      border-color: red;
    }
    &__3 {
      border-color: cyan;
    }
  }
  
}
